h1{
  text-align: center;
  font-size: 1.6rem;
  padding: 10px 0 10px 0;
}

mat-form-field{
  width: 100%;
}

.mat-dialog-content {
height: 600px;
}

#Date{
  padding: 0 0  20px 0;

}


#radio-group-label {
  font-size: 1.2rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}


